<main [class]="theme">
  
    <div style="position: absolute; top: 50px; left: 50px; right: 50px; bottom: 50px;">
     
      <ngx-charts-line-chart
        *ngIf="chartType === 'line-chart'"
        class="chart-container"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="dataArmandoTest"
        [animations]="animations"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        (legendLabelClick)="onLegendLabelClick($event)"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"

        [autoScale]="autoScale"
        [xScaleMin]="xScaleMin"
        [xScaleMax]="xScaleMax"
        [yScaleMin]="yScaleMin"
        [yScaleMax]="yScaleMax"
        [timeline]="timeline"
        [rangeFillOpacity]="rangeFillOpacity"
        [tooltipDisabled]="tooltipDisabled"
        (select)="select($event)"
        [activeEntries]="test">
      </ngx-charts-line-chart>
    
  </div>
</main>
